<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.notiphone">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main1Activity"
            android:label="                 ROCK"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="          CLASSICAL"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="             THE 80'S"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme3">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="                 LATIN"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme4">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Main5Activity"
            android:label="            ELECTRONIC"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme5">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY@"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Main6Activity"
            android:label="                 ZOO"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme6">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>